- n_estimators: 200
  data_file: "train_features_v3_base-1975.pkl.train"
  max_depth: 5
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 300
  max_depth: 5
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 400
  max_depth: 5
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/" 
  res_dir: "results/gbrt/batch1/"
- n_estimators: 500
  max_depth: 5
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 200
  max_depth: 4
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 300
  max_depth: 4
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 400
  max_depth: 4
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 500
  max_depth: 4
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 400
  max_depth: 3
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"
- n_estimators: 500
  max_depth: 3
  data_file: "train_features_v3_base-1975.pkl.train"
  save_dir: "models/gbrt/batch1/"
  res_dir: "results/gbrt/batch1/"